* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  background-color: #161b22;
  color: #fff;

  display: table-cell;
  vertical-align: middle;

  transition: all 0.5s;
}

.container {
  display: grid;
  place-items: center;
}

.container h1 span {
  text-decoration: underline;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .generateButton {
  display: inline-block;

  padding: 20px 30px;

  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;

  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  color: rgba(255, 255, 255, 0.8);

  text-decoration: none;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;

  cursor: pointer;
  user-select: none;
}

.container .copyButton {
  border: 0;
  background: 0;
  margin-left: 17px;

  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;

  transition: all 1s;
  cursor: pointer;
}